.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
  
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    background: transparent;
    border:2px solid rgba(255,255 ,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:20px;
    
}
.main_login{
    display: flex;
 
    justify-content: center;
    align-items:center;
   
}
.input{
    width: 300px;
}
.redirect{
 
    margin-top: 20px;
    font-size: 18px;
}
.error{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.text{
    margin: 0;
    margin-bottom: 10px;
    color: rgb(241, 17, 215);
}
.re{
    color: rgb(239, 7, 123);
    margin-left: 10px;
}