body{
    /* background-image:url("https://wallpapers.com/images/hd/abstract-background-6m6cjbifu3zpfv84.jpg") ; */
    
    background-image:url("https://img.freepik.com/free-vector/copy-space-bokeh-spring-lights-background_52683-55649.jpg") ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}